@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    width: 100%;
    display: flex;
    min-height: 100vh;
    padding: 100px;
    background: #ffffff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffdc;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 
}
header p{
    text-align: left;
    position: absolute;
    margin-left: 11%;
    color: #017143;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    text-transform: uppercase;
}
header .logo{
    position: relative;
    width: 80px;
    margin: 5px 100px; 
}
header ul{
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
header ul li a{
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}
header ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #017143;
    display: block;
    transition: 0.2s linear;
}
header ul li a:hover::after{
    width: 100%; 
}
header ul li a:hover{
    color: #017143; 
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.textBox{
    position: relative;
    max-width: 750px;
}
.textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.textBox p{
    color: #333;
}
.textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 60px;
}
.content .imgBox img{
    width: 400px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.7);
    filter: invert(1);
}
.sci li img{
    position: relative;
    width: 40px;
    margin-right: 20px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(650px at right 815px);
}


h4{
    font-size: 23px;
    margin-bottom: 20px;
}
.row{
    flex-basis: 300px;
    display:block;
    align-items: center;
    margin-top: 30px;
    padding-left: 105px;
}
.menu ul{
    list-style-type: none;
    margin: 0;
}
.menu ul li{
    padding-bottom: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #333;
}
.menup a{
    list-style: none;
}

h5{
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 80px;
}
.low{
    display: block;
    padding-left: 119px;
    width: 75%;
    height: 100%;
    box-sizing: inherit;
}
.menus{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.box-container{
    width: 25%;
    padding-top: 20px;
    padding-right: 85px;
    padding-bottom: 30px;  
}
.box-container img{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #1e3932;
}
.box-container h6{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}


h1{
    font-size: 2em;
    padding: 25px;
}
.section1{
    padding: 120px;
    padding-top: 30px;
    padding-bottom: 0;
}

.container-right{
    display: flex;
    margin-bottom: 30px;
}
.container-right img{
    width: 50%;
}
.container-right.first .text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    color: #1e3932;
    font-size: 17px;
}
.container-right .text p{
    font-size: 20px;
    width: 70%;
    margin-top: 20px;
}
.container-right .text a{
    font-size: 17px;
    border: 1px solid;
    border-radius: 50px;
    width: auto;
    padding: 3px 2%;
    font-weight: 600;
    color: #1e3932;
    letter-spacing: 1px;
    text-decoration: none;
}
.container-right.first{
    background-color: #d4e9e2;
}

.container-left{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}
.container-left img{
    width: 50%;
}
.container-left .text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container-left.second .text{
    color: #fff;
    font-size: 26px;
}
.container-left .text p{
    font-size: 24px;
    width: 70%;
    margin-top: 30px;
}
.container-left .text a{
    font-size: 17px;
    border: 1px solid;
    border-radius: 50px;
    width: auto;
    padding: 3px 2%;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 35px;
}
.container-left{
    background-color: #3d7170;
}

.container-right.third .text p{
    font-size: 24px;
    width: 70%;
    margin-top: 30px;
}
.container-right .text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container-right.third .text{
    color: #1e3932;
    font-size: 28px;
}
.container-right .text a{
    font-size: 17px;
    border: 1px solid;
    border-radius: 50px;
    width: auto;
    padding: 3px 2%;
    font-weight: 600;
    color: #1e3932;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 35px;
}
.container-right.third{
    background-color: #f4c5a1;
}

.container-left.fourth .text{
    color: #fff;
    font-size: 28px;
}
.container-left .text a{
    font-size: 17px;
    border: 1px solid;
    border-radius: 50px;
    width: auto;
    padding: 3px 2%;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 35px;
}
.container-left.fourth{
    background-color: #8b323e;
}


.content2{
    display: block;
    margin-left: auto!important;
    max-width: 71%;
    margin-top: 10px;
}
h3{
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}
.textBox2 p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.75;
    font-size: 19px;
    max-width: 51%;
    font-weight: 402;
}
.textBox2 a{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.textBox2 img{
    height: auto;
    display: block!important;
    max-width: 720px;
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}


footer hr{
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 35px;
}
footer {
    padding-bottom: 30px;
	clear: both;
}
footer ul{
    margin-left: 7%;
}
.footer-list ul{
    margin-top: 22px;
}
.footer-list ul a{
    padding-left: 10px;
    text-decoration: none;
    color: #333;
}
footer p {
	color: #333;
	text-align: left;
    padding-top: 24px;
    padding-left: 7.4%;
}
footer img {
    margin-left: 15px; 
}
footer span{
    padding-right: 30px!important;
    padding-left: 30px!important;
    display: inline!important;
    color: #333;
}

@media (max-width: 991px){
    header{
        padding-left: 20px;
        padding-right: 20px;
    }
    header .logo{
        max-width: 60px;
    }
    header ul{
        display: none;
    }        
}